@model MvcVoyage.Models.City

@{
    ViewBag.Title = "Details";
}

<h2>City: @Model.Name</h2>
<h2>Description: @Model.Description</h2>
<h2>Price: @Model.Price</h2>
<h2>CountryId: @Model.CountryId</h2>
<h2>VoyageTypeId: @Model.VoyageTypeId</h2>

